/* button-set
-------------------------------------*/
.rwmb-button-set {
}
.rwmb-button-set label {
	background-color: #F7F7F7;
	display: inline-block;
	padding: 5px 15px;
	cursor: pointer;
	border: solid 1px #ccc;
}
.rwmb-button-set label + label {
	border-left: none;
}
.rwmb-button-set label:first-child {
	-webkit-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}
.rwmb-button-set label:last-child {
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
}
.rwmb-button-set label > span {
	color: #333;
}
.rwmb-button-set label.selected {
	background-color: #007DB9;

}
.rwmb-button-set label.selected > span {
	color: #fff;
	position: relative;
}
