			/*  CSS section  */


.rwmb-section {
	overflow: hidden;
	border-bottom: solid 3px #36c0d1;
}
.rwmb-section span {
    border-bottom: none!important;
    margin: 0;
    padding: 4px 10px;
    background: #36c0d1;
    background: linear-gradient(to right,#36c0d1,#47bfa9);
    display: inline-block;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 2em;
}
.rwmb-field.rwmb-section-wrapper {
	border-bottom: none;
}